
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 172 66% 48%;
    --card: 0 0% 100%;
    --card-foreground: 44 0% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 44 0% 17%;
    --primary: 172 66% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 176 56% 91%;
    --secondary-foreground: 44 0% 17%;
    --muted: 176 56% 91%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 176 56% 91%;
    --accent-foreground: 44 0% 17%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 176 56% 91%;
    --input: 176 56% 91%;
    --ring: 172 66% 48%;
    --radius: 1rem;
  }

  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "ss01" on, "ss02" on, "cv01" on, "cv02" on,
      "cv03" on, "cv04" on;
  }
}

.text-balance {
  text-wrap: balance;
}
